@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

#messages {
    overflow: auto;
    height: 90vh;
}

.card {
    max-width: 100%!important;
}

.card-text, .card-title {
    color: black!important;
}

#bots {
  background-color: antiquewhite;
}

#input-message {
 margin-bottom: 0;
}